body {
  font-family: Roboto, sans-serif;
  color: $text-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  &--work {
    padding-top: 0;
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
  &--staff {
    background-color: #f5f4fa;
  }

  @media screen and (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
