.logo {
  color: $main-title-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  @extend %link;
  &__blue {
    color: $accent-color;
  }
  @media screen and (max-width: 768px) {
    font-size: 24px;
    line-height: 1.166;
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.166;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__footer {
  @extend .logo;
  display: inline-block;
  margin-bottom: 20px;
  color: $primary-white-color;
}
